.createBruger table, th, td {
    border: 1px solid black;
    text-align: left;
    background-color: hotpink;
}

.createBruger {
    background-color: deeppink;
    width: 800px;
    border: 2px solid black;
    padding: 5px;
    margin:auto;
}

.container{

    background-color: lightgray;
    width: 500px;
    border: 2px solid black;
    padding: 5px;
    margin:auto;
}
